* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    background-color: rgb(252, 147, 147);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgb(1, 1, 23);
    display:flex;
    height: 460px;
    width: 250px;
    align-items: center; 
    justify-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    align-content: center;
    align-content: center;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 30%);
    flex-direction: column;
}

.top{
    width: 100%;
    height: 50%;
    display: flex;

}

.equilibrium{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.bottom{
    width: 100%;
    height: 50%;
    padding: 15px 0px;
}

.bottomTop{
    height: 50%;
    width: 100%;
}

.heading{
    width: 100%;
    padding-bottom: 15px;
}

.headContent{
    font-size: 17px;
    color: white;
    font-weight: 600;

}

.body{
    width: 100%;
}

.bodyContent{
    color: white;
    font-size: 12px;
    line-height: 18px;
}

.bottomDown {
    display: flex;
    font-size: 13px;

}
.bottomDownTop {
    display: flex;
    flex-direction: row;
    width: 50%;
    color: #ffffff;
}

.bottomDownTopLeft{
    display: flex;
    flex-direction: row;
}

.ethIcon{
    width: 7px;
    height: 12px;
}

.quantity{
    margin-left: 5px;
    font-size: 10px;
    font-weight: 700;
    color: aqua;
}

